<div class="container">
  <div class="col-lg-6">
    <h3 class="upp">No completados</h3>
    <% @todos.each do |t| %>
    <% if t.completed == false %>
    <div class="well">
        <p><%= t.description%></p>
    </div>
    <% end %>
    <% end %>
  </div>

  <div class="container">
    <div class="col-lg-6">
    <h3 class="upp">Completados</h3>
    <% @todos.each do |t| %>
    <% if t.completed  %>
    <div class="well">
        <p><%= t.description%></p>
    </div>
    <% end %>
    <% end %>
  </div>
  </div>
 </div>
